<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vue-Course</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
    <!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

  </head>
  <body>
      <noscript>
        <strong>We're sorry but weixin-manage doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>

      <!-- 任何数据都不会被自动传递到组件里，因为组件有自己独立的作用域。为了把迭代数据传递到组件里，我们要使用 prop：
      <my-component
      v-for="(item, index) in items"
      v-bind:item="item"
      v-bind:index="index"
      v-bind:key="item.id"
      ></my-component>
      不自动将 item 注入到组件里的原因是，这会使得组件与 v-for 的运作紧密耦合。明确组件数据的来源能够使组件在其他场合重复使用。
      -->
      <!-- 注意这里的 is="todo-item" attribute。这种做法在使用 DOM 模板时是十分必要的，因为在 <ul> 元素内只有 <li> 元素会被看作有效内容。这样做实现的效果与 <todo-item> 相同，但是可以避开一些潜在的浏览器解析错误。查看 DOM 模板解析说明 来了解更多信息。 -->
      <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
          <label for="new-todo">Add a todo</label>
          <input
            v-model="newTodoText"
            id="new-todo"
            placeholder="E.g. Feed the cat"
          >
          <button>Add</button>
        </form>
        <ul>
          <li
            is="todo-item"
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="todos.splice(index, 1)"
          ></li>
        </ul>
      </div>

      <script>
            Vue.component('todo-item', {
              template: '\
                <li>\
                  {{ title }}\
                  <button v-on:click="$emit(\'remove\')">Remove</button>\
                </li>\
              ',
              props: ['title']
            })

            new Vue({
              el: '#todo-list-example',
              data: {
                newTodoText: '',
                todos: [
                  {
                    id: 1,
                    title: 'Do the dishes',
                  },
                  {
                    id: 2,
                    title: 'Take out the trash',
                  },
                  {
                    id: 3,
                    title: 'Mow the lawn'
                  }
                ],
                nextTodoId: 4
              },
              methods: {
                addNewTodo: function () {
                  this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                  })
                  this.newTodoText = ''
                }
              }
           })

      </script>


  </body>
</html>
